<h1>Dashboard</h1>
<p>Your account balance is: $<%=@transactions.balance%></p>
<%if @transactions.balance < 0 %>
<p>GET TO WORK! YOU'RE BROKE!</p>
<%else%>
<p>Keep up the positive lifestyle!</p>
<%end%>


<p>You've made <%=@transactions.count%> transactions since the beginning of time.</p>
<p>Total spent this month (<%=(Time.now).strftime("%B")%>):</p>
<p>Total spent last month (<%=(Time.now - 1.month).strftime("%B")%>):</p>
<p>Total transactions this month (<%=(Time.now).strftime("%B")%>):</p>
<p>Total transactions last month (<%=(Time.now - 1.month).strftime("%B")%>):</p>
<p>Biggest purchase/expense this month (<%=(Time.now).strftime("%B")%>):</p>
<p>Biggest purchase/expense EVER:</p>
<p>Business that owns you:</p>
<%=@transactions.current_month.each%>
